/* Center the course page */
.course-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
  
  /* Style the course title */
  .course-title {
    font-size: 4rem;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    text-align: center;
  }
  

  /* Grid container for courses */
  .course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: absolute;
    top: 200px;
  }
  

  /* Style the course buttons */
  .course-button {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(100, 144, 255);
    color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .course-button:hover {
    background-color: #17396f;
    color: white;
    border-color: #3b82f6;
  }