body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bottom-left-image {
  position: fixed;
  bottom: 20px;  /* Adjust as needed */
  left: 20px;  /* Adjust as needed */
  width: 100px;  /* Adjust size */
  height: auto;
  z-index: 1000;  /* Ensure it's above other elements */
}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black-white: #000000;
  --white-black: #FFFFFF;

  --header-primary: #1f2937;
  --text-primary: #4b5563;
  --text-secondary: #1a1a1a;
  --label-primary: #374151;

  --background-primary: #FFFFFF;
  --background-secondary: #e9ecef;
  --background-tertiary: #3b82f6;
  --background-four: rgba(0, 0, 0, 0.1);
  --background-five: #FFFFFF;
  --background-six: #ff6565;

  --closehover-primary: #ff4545;
  --linkhover-background-primary: #f3f4f6;

  --backgroundgradient-primary: linear-gradient(180deg, #87CEEB 0%, #FFFFFF 100%);
  --button-background-primary: rgb(100, 144, 255);

  --border-secondary: #e5e7eb;

  --boxshadow-primary: 0 4px 6px -1px rgba(0, 0, 0, 0.07);
}

[data-theme="dark"]{
  /*Enable swapping between pure black (light) and white (dark)*/
  --black-white: #FFFFFF;
  --white-black: #000000;

  --header-primary: #FFFFFF;
  --text-primary: #FFFFFF;
  --text-secondary: #FFFFFF;
  --label-primary: #FFFFFF;

  --background-primary: #1f2937;
  --background-secondary: #4b5563;
  --background-tertiary: #2563eb;
  --background-four: rgba(255, 255, 255, 0.1);
  --background-five: #888888;
  --background-six: #ff4545;

  --closehover-primary: #ff2525;
  --linkhover-background-primary: #333333;

  --backgroundgradient-primary: linear-gradient(180deg, #1a1a1a 0%, #2a2a2a 100%);
  --button-background-primary: rgb(80, 115, 204);

  --border-secondary: #374151;

  --boxshadow-primary: 0 2px 4px rgba(0, 0, 0, 0.2);
}
